[core]
	pager = cat
[user]
	email = chrisguest75@users.noreply.github.com
	name = Chris Guest
[init]
	defaultBranch = main
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
